.logo {
  width: 80px;
}
.img-carousel {
  height: 500px;
  object-fit: cover;
  object-position: 0;
}

.card-largura {
  width: 20rem;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}